<h1>Hogwarts API</h1>
<p>Here are all API routes:</p>
<ul>
  <li>/api/houses</li>
  <li>/api/students</li>
  <li>/api/students/<i>student name</i></li>
  <li>/api/classes</li>
  <li>/api/professors</li>
  <li>/api/subjects</li>
  <li>/api/parents</li>
  <li>/api/parents_students</li>
  <li>/api/enrollments</li>
</ul>
