<main>
  <h1>Hogwarts Dev</h1>
  <h3>Below are your dev options</h3>
  <ul>
    <li>/students/new/<i>name</i>/<i>house_id</i>/<i>year</i>/<i>patronus</i></li>
    <li>/patronus/update/<i>name</i>/<i>new patronus</i></li>
    <li>/students/delete/<i>name</i></li>
  </ul>
</main>
