<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href = "/images/hallows.svg" rel="icon" type="image/svg">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
